<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="icon" type="image/x-icon" href="https://png.pngtree.com/png-clipart/20201129/ourmid/pngtree-black-and-white-dialog-png-image_2435001.jpg">
  <title>favourite quotes</title>
</head>
<body>
  <nav style="margin-top: 25px; margin-left: 45px; font-size: 24px;">
    <a class="btn btn-info" href="{{ url_for('quotes') }}">Add a quote</a>
  </nav>
  <br>

  <div class="container theme-showcase" role="main">
    <div class="jumbotron">
    <h1 class="mb-4">Favourite Quotes</h1>
  </div>
    <!--for loop starts-->
    {% for r in result %}
      <div style="color:#fff; background-color: #AA336A;margin-top: 20px">
        <h2>{{r["id"]}} - {{ r["author"] }}</h2>
      </div>
      <div style="font-size: 28px; background-color: #30D5C8">
        <p> {{ r["quote"] }} </p>
      </div>
    {% endfor %}
    <!-- for loop ends here-->
  </div> <!-- /container -->

  
</body>
</html>